<h2>Hello {{currentUser.username}}! this is your User Profile</h2>
<h3> You can EDIT all your data here!</h3>
<div class="profile">
<div>
  <div class="background-shape"></div>
  <form  action="/profile" method="post" class="row g-3">
    <div>
      <label for="username" class="visually-hidden">USERNAME</label> your actual user name is: {{currentUser.username}}
      <input type="text" value="{{currentUser.username}}" class="form-control is_invalid form-width {{#if errors.username }}is-invalid{{/if}}" name="username" placeholder="User Name">
      {{#if errors.username }}<div class="invalid-feedback">{{errors.username}}</div>{{/if}} 
    </div>
    <div>
      <label for="email" class="visually-hidden">E.MAIL</label>Your actual email acount is: {{currentUser.email}}
      <input type="email" value="{{currentUser.email}}" class="form-control form-width {{#if errors.email }}is-invalid{{/if}}" name="email" placeholder="email">
      {{#if errors.email }}<div class="invalid-feedback">{{errors.email}}</div>{{/if}}
    </div>
    <div>
      <label for="inputPassword2" class="visually-hidden">Password</label>if you want change your actual password, please type a new password
      <input type="password" class="form-control form-width {{#if errors.email }}is-invalid {{/if}}" name="password" placeholder="Password">
      {{#if errors.password }}<div class="invalid-feedback">{{errors.password}}</div>{{/if}}
    </div>
    <div>
      <button type="submit" class="btn btn-primary mb-3">Save Changes</button>
    </div>
  </form>

  <div class="invalid-feedback text-red" >
    Hola
  </div>
</div>
  <div>
    <div class="divide">
    <div class="container">
      <form action="/users/{{currentUser.id}}/profile" method="post" class="row g-3">
        <label for="deleteuser" class="visually-hidden text-red">USERNAME</label><strong> Danger Zone - {{currentUser.username}} </strong>
        <button type="submit" class="btn btn-primary" >Delete User<i class="bi bi-person-fill"></i></button>
      </form>
       <div class="control-form  {{#if  errors.username }}is-invalid{{/if}}" name="username" placeholder="User Name"></div>
        <p style="color:red"><strong>If delete your user. Once you delete a user, there is no going back. Please be certain.</strong></p>
    </div>
  </div>
  </div>
</div>
